body {
	font-family: "Gochi Hand";
	background-image: url(bluewood.jpg);

}

.container {
	margin-left: 10%;
	margin-right: 10%;
	border: solid;
	padding: 5px;
	background-color: #EDEDED;
	border-radius: 20px;

}

.restaurant {
	text-align: center;
	border-radius: 10px;
	border: 5px solid;
	margin-left: 35%;
	margin-right: 35%;
	padding: 10px;

}

.orderDisplay  {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
}

#orderCost {
	margin-left: 15%;
}

#glutenButton {
	margin-right: 40%;
	margin-left: 40%;
}

.highlight {
	color: red;
}